In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [23]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Joao Da Barra,BR,2020-11-24 02:15:39,-21.64,-41.05,72.05,86,100,3.24
1,1,Vondrozo,MG,2020-11-24 02:15:40,-22.82,47.28,64.02,100,67,2.30
2,2,Lakes Entrance,AU,2020-11-24 02:15:40,-37.88,147.98,70.00,52,4,1.99
3,3,Butaritari,KI,2020-11-24 02:12:17,3.07,172.79,82.18,76,47,11.65
4,4,Ushuaia,AR,2020-11-24 02:11:33,-54.80,-68.30,42.80,56,20,25.28

In [24]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [25]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [28]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Butaritari,KI,2020-11-24 02:12:17,3.07,172.79,82.18,76,47,11.65
5,5,Itarema,BR,2020-11-24 02:15:41,-2.92,-39.92,78.24,83,29,10.33
8,8,Busselton,AU,2020-11-24 02:11:54,-33.65,115.33,81.00,46,0,3.00
16,16,Alyangula,AU,2020-11-24 02:15:45,-13.85,136.42,89.60,62,0,8.05
18,18,Axim,GH,2020-11-24 02:15:46,4.87,-2.24,78.19,85,0,5.48
20,20,Kapaa,US,2020-11-24 02:15:46,22.08,-159.32,80.60,74,75,17.22
26,26,Zhuhai,CN,2020-11-24 02:15:47,22.28,113.57,75.00,78,40,14.99
27,27,Acapulco,MX,2020-11-24 02:11:19,16.86,-99.89,82.40,83,20,4.70
30,30,Atuona,PF,2020-11-24 02:15:48,-9.80,-139.03,78.19,73,4,13.94
36,36,Bani,DO,2020-11-24 02:15:50,18.28,-70.33,78.01,88,47,4.81

In [36]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
3   Butaritari      KI     82.18   3.07  172.79
5      Itarema      BR     78.24  -2.92  -39.92
8    Busselton      AU     81.00 -33.65  115.33
16   Alyangula      AU     89.60 -13.85  136.42
18        Axim      GH     78.19   4.87   -2.24
20       Kapaa      US     80.60  22.08 -159.32
26      Zhuhai      CN     75.00  22.28  113.57
27    Acapulco      MX     82.40  16.86  -99.89
30      Atuona      PF     78.19  -9.80 -139.03
36        Bani      DO     78.01  18.28  -70.33